/* Login Background */
.login-bg {
  background: linear-gradient(135deg, #2d89ef, #6a11cb);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Box */
.login-box {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-box h1 {
  margin-bottom: 10px;
  color: #2d89ef;
}

.login-box p {
  font-size: 14px;
  color: gray;
}

.login-box input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.login-box button {
  width: 100%;
  padding: 12px;
  background: #2d89ef;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.login-box button:hover {
  background: #1b5fbf;
}